<div class="heading">Diagnosis History</div>
<div class="chart">
    <div class="leftview">
        <div class="top-leftview">
            <div class="type">Blood Pressure</div>
            <div class="dropdown">
                <select name="date-range" id="date-range">
                    <option value="6">Last 6 months</option>
                    <option value="12">Last 12 months</option>
                </select>
            </div>
        </div>
        <div class="bottom-leftview">
            <canvas id="diagnosis-history-chart"></canvas>
        </div>
    </div>
    <div class="rightview">
        <div class="label" id="label-systolic">
            <div class="circle"></div>
            <div class="type">Systolic</div>
        </div>
        <div class="value" id="systolic-value"></div>
        <div class="status">
            <img id="systolic-status-icon" src="" alt="">
            <div class="status-value" id="systolic-status"></div>
        </div>
        <div class="divider"></div>
        <div class="label" id="label-diastolic">
            <div class="circle"></div>
            <div class="type">Diastolic</div>
        </div>
        <div class="value" id="diastolic-value"></div>
        <div class="status">
            <img id="diastolic-status-icon" src="" alt="">
            <div class="status-value" id="diastolic-status"></div>
        </div>
    </div>
</div>
<div class="display">
    <div id="respiratory-rate" class="display-container">
        <div class="circle">
            <img src="src\assets\respiratoryRate.svg" alt="respiratory-rate icon">
        </div>
        <div class="title">Respiratory Rate</div>
        <div class="value" id="respiratory-rate-value"></div>
        <div class="status">
            <img src="" alt="" id="respiratory-rate-status-icon">
            <span class="status-value" id="respiratory-rate-status"></span>
        </div>
    </div>
    <div id="temperature" class="display-container">
        <div class="circle">
            <img src="src\assets\temperature.svg" alt="temperature icon">
        </div>
        <div class="title">Temperature</div>
        <div class="value" id="temperature-value"></div>
        <div class="status">
            <img src="" alt="" id="temperature-status-icon">
            <span class="status-value" id="temperature-status"></span>
        </div>
    </div>
    <div id="heart-rate" class="display-container">
        <div class="circle">
            <img src="src\assets\HeartBPM.svg" alt="heart-rate icon">
        </div>
        <div class="title">Heart Rate</div>
        <div class="value" id="heart-rate-value"></div>
        <div class="status">
            <img src="" alt="" id="heart-rate-status-icon">
            <span class="status-value" id="heart-rate-status"></span>
        </div>
    </div>
</div>