<div id="logo">
    <img src="src/assets/TestLogo.svg" alt="Logo" >
    <!-- <iframe src="src/assets/TestLogo.svg" width="100" height="100" frameborder="0"></iframe> -->
</div>
<div id="nav-midview">
    <div class="nav-midview-element">
        <img src="src/assets/home_FILL0_wght300_GRAD0_opsz24.svg" alt="home">
        <span>Overview</span>
    </div>
    <div class="nav-midview-element">
        <img src="src/assets/group_FILL0_wght300_GRAD0_opsz24.svg" alt="Group">
        <span>Patients</span>
    </div>
    <div class="nav-midview-element">
        <img src="src/assets/calendar_today_FILL0_wght300_GRAD0_opsz24.svg" alt="Calender">
        <span>Schedule</span>
    </div>
    <div class="nav-midview-element">
        <img src="src/assets/chat_bubble_FILL0_wght300_GRAD0_opsz24.svg" alt="Chat">
        <span>Message</span>
    </div>
    <div class="nav-midview-element">
        <img src="src/assets/credit_card_FILL0_wght300_GRAD0_opsz24.svg" alt="Credit">
        <span>Transactions</span>
    </div>
</div>
<div id="nav-rightview">
    <img class="profile" src="src/assets/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc@2x.png" alt="photo">
    <div>
        <span class="name">Dr. Jose Simmons</span>
        <span class="title">General Practitioner</span>
    </div>
    <div class="divider"></div>
    <img id="settings-icon" src="src/assets/settings_FILL0_wght300_GRAD0_opsz24.svg" alt="settings">
    <img id="dots-icon" src="src/assets/more_vert_FILL0_wght300_GRAD0_opsz24.svg" alt="vertical-dots">
</div>