<div class="top-rightview">
    <img id="patient-profile-image" src="src\assets\Layer_2@2x.png" alt="photo">
    <div class="name" id="patient-name">Jessica Taylor</div>
</div>
<div class="main-rightview">
    <div class="section">
        <img src="src\assets\BirthIcon.svg" alt="birth icon">
        <div class="personal-data">
            <span class="type">DateOfBirth</span>
            <span class="value" id="date-of-birth">Loading...</span>
        </div>
    </div>
    <div class="section" id="gender">
        <img id="gender-image" src="src\assets\FemaleIcon.svg" alt="gender icon">
        <div class="personal-data">
            <span class="type">Gender</span>
            <span class="value" id="gender-value">Loading...</span>
        </div>
    </div>
    <div class="section">
        <img src="src\assets\PhoneIcon.svg" alt="contact icon">
        <div class="personal-data">
            <span class="type">Contact Info.</span>
            <span class="value" id="patient-contact">Loading...</span>
        </div>
    </div>
    <div class="section">
        <img src="src\assets\PhoneIcon.svg" alt="contact icon">
        <div class="personal-data">
            <span class="type">Emergency Contacts</span>
            <span class="value" id="patient-emergency-contact">Loading...</span>
        </div>
    </div>
    <div class="section">
        <img src="src\assets\InsuranceIcon.svg" alt="Insurance icon">
        <div class="personal-data">
            <span class="type">Insurance Provider</span>
            <span class="value" id="insurance-provider">Loading...</span>
        </div>
    </div>
</div>
<div class="info-btn">
    <button>Show All Information</button>
</div>