<div class="patients-topview">
    <span class="heading">Patients</span>
    <img src="src/assets/search_FILL0_wght300_GRAD0_opsz24.svg" alt="Search">
</div>
<div class="patients-mainview">
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
    <div class="section">
        <div class="patient-data">
            <img src="src/assets/Layer_2.png" alt="image">
            <div class="details">
                <span class="name">Jessica Taylor</span>
                <span class="age">Female, 20</span>
            </div>
        </div>
        <img src="src/assets/more_horiz_FILL0_wght300_GRAD0_opsz24.svg" alt="dots">
    </div>
</div>